@font-face {
  font-family: 'Thrones';
  src: url('./fonts/Thrones.ttf');
  font-display: swap;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #2d2d32;
  font-family: 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu,
    roboto, noto, 'segoe ui', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Thrones', 'avenir next', avenir, 'helvetica neue', helvetica,
    ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

* {
  box-sizing: border-box;
}

// GitHub Corner

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,100% {
    transform: rotate(0);
  }

  20%,60% {
    transform: rotate(-25deg);
  }

  40%,80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}